*.pyc
__pycache__/
*.swp

*/static/*/dist
media/
/static/

*.retry

.venv
.env

*.sql
*.db

*.csv

# Local dev
local_*.*

#Ansible Check output
check.yaml

# uv stuff
.python-version
pyproject.toml
uv.lock
